.login_page_inner {
  width: 100%;
  height: 81vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 2px solid #efeff4;
}

.login_page_left {
  background-repeat: no-repeat;
  background-size: contain;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 50%;
  position: relative;
  height: 81vh;
  color: #fff;
  background-position-x: center;
  z-index: -2;
}
.login_page_left-overflow {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  z-index: -1;
  background-position: center;
}
.login_page_left_content {
  padding: 210px 140px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  h1 {
    font-weight: 700;
    font-size: 120px;
    margin: 0;
    z-index: 2;
    margin-bottom: 10px;
  }
  h2 {
    font-weight: 400;
    font-size: 50px;
  }
}
.login_page_right {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.login_page_right_content {
  padding: 0px 0px;
  margin: 0 auto;
  max-width: 345px;
}
.login_page_right_title {
  h1 {
    color: #28282c;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 24px;
  }
}

.form_password {
  input {
    border: 1px solid #efeff4;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    margin: 0px 0px 24px;
    height: 48px;
    border-radius: 4px;
    padding-bottom: 7px;
    padding-top: 22px;
    padding-left: 16px;
    color: #28282c;
    font-weight: 400;
    font-size: 16px;
    outline-color: #dddee8;
  }
  max-width: 345px;
  display: none;
  -webkit-animation: fade;
  animation: fade;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  h2 {
    color: #28282c;
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 24px;
  }
}
.login_form {
  .labelContainer {
    margin-bottom: 24px;
  }
  input {
    border: 1px solid #efeff4;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    border-radius: 4px;

    color: #28282c;
    font-weight: 400;
    font-size: 16px;
    outline-color: #dddee8;
    &:valid {
      border: 1px solid #ababb8;
    }
  }
  p {
    text-align: center;
    font-weight: 400;
    color: #858593;
    font-size: 10px;
    margin-top: 16px;
    line-height: 14px;
    a {
      color: #0e0e0f;
      font-weight: 700;
      transition: 0.2s ease;
      cursor: pointer;
      margin: 0px 2px;
    }
    a:hover {
      color: #3f50c0;
    }
  }
}
input[type='password'] {
  letter-spacing: 2px;
  &::-webkit-input-placeholder {
    letter-spacing: 0px;
  }
  &::-moz-placeholder {
    letter-spacing: 0px;
  }
  &:-ms-input-placeholder {
    letter-spacing: 0px;
  }
  &::-ms-input-placeholder {
    letter-spacing: 0px;
  }
  &::placeholder {
    letter-spacing: 0px;
  }
}
.close_eye {
  display: none;
}
.login_form_btn {
  border: none;
  width: 100%;
  cursor: pointer;
  color: #fff;
  padding: 14px 0px;
  background: #3f50c0;
  border-radius: 4px;
  display: block;
  text-align: center;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  &:hover {
    background: #23329a;
  }
}
.login_links {
  text-align: center;
  margin-top: 18px;
  margin-bottom: 30px;
  a {
    color: #3f50c0;
    font-weight: 400;
    font-size: 16px;
    margin-right: 7px;
    margin-left: 7px;
    position: relative;
    transition: 0.2s ease;
    &:hover {
      color: #007eff;
    }
    &::after {
      content: ' ';
      // position: absolute;
      // width: 0%;
      // height: 1px;
      // bottom: -5px;
      // display: block;
      // background-color: #605DEC;
      // left: 0;
      // -webkit-transition: 0.4s ease;
      // transition: 0.4s ease;
    }
  }
  h6 {
    color: #595964;
    font-weight: 400;
    font-size: 16px;
  }
  span {
    color: #3f50c0;
    font-weight: 250;
    font-size: 16px;
  }
}
.login_signup {
  -webkit-animation: fade;
  animation: fade;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  width: 345px;
}
.login_signup_link {
  a {
    border: 1px solid #3f50c0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #3f50c0;
    border-radius: 4px;
    padding: 14px 0px;
    display: block;
    width: 100%;
    text-align: center;
    margin-bottom: 16px;
    position: relative;
    -webkit-transition: 0.4s ease;
    transition: 0.4s ease;
    &:hover {
      background: #3f50c0;
      color: #fff;
      .Black {
        display: none;
      }
      .white {
        display: block;
      }
    }
  }
  .white {
    display: none;
    top: 15px;
  }
  .Black {
    top: 15px;
  }
  img {
    position: absolute;
    left: 10px;
    top: 12px;
  }
}
.login_page_line {
  height: 0px;
  width: 100%;
  bottom: 0;
  position: absolute;
}
.login_footer_inner {
  padding: 40px 76px;
  display: -ms-grid;
  display: grid;
  padding-bottom: 0px;
  width: 50%;
  row-gap: 20px;
  grid-template-columns: repeat(3, 1fr);
}
.login_footer_inner_item {
  margin-right: 60px;
  p {
    font-weight: 400;
    font-size: 16px;
    color: #ababb8;
    white-space: nowrap;
    cursor: pointer;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    position: relative;
    &:hover {
      color: #3f50c0;
    }
    &::after {
      content: ' ';
      position: absolute;
      width: 0%;
      height: 1px;
      bottom: -5px;
      display: block;
      background-color: #3f50c0;
      left: 0;
      -webkit-transition: 0.4s ease;
      transition: 0.4s ease;
    }
  }
}
.select {
  position: relative;
  margin-bottom: 15px;
  img {
    margin-right: 12px;
  }
  .selectBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    color: #ababb8;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 3px;
    width: 100%;
    cursor: pointer;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    &:after {
      content: '';
      position: absolute;
      top: 45%;
      left: 95px;
      width: 6px;
      height: 6px;
      -webkit-transform: translateY(-50%) rotate(45deg);
      transform: translateY(-50%) rotate(45deg);
      border-right: 2px solid #ababb8;
      border-bottom: 2px solid #ababb8;
      -webkit-transition: 0.2s ease;
      transition: 0.2s ease;
    }
  }
  .selectBtn.toggle {
    border-radius: 3px 3px 0 0;
    &:after {
      -webkit-transform: translateY(-50%) rotate(-135deg);
      transform: translateY(-50%) rotate(-135deg);
    }
  }
  .selectDropdown {
    position: absolute;
    background: #ffffff;
    -webkit-box-shadow: 0px 4px 16px -5px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 4px 16px -5px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    top: -113px;
    width: 205px;
    padding: 8px;
    overflow: hidden;
    z-index: 1;
    display: none;
    -webkit-animation: fade;
    animation: fade;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    .option {
      padding: 10px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      cursor: pointer;
      -webkit-transition: 0.2s ease;
      transition: 0.2s ease;
      border-radius: 4px;
      &:hover {
        background: #eceef9;
      }
    }
  }
  .selectDropdown.toggle {
    visibility: visible;
    display: block;
  }
  &:hover {
    #flag {
      border: 1px solid #3f50c0;
      border-radius: 100%;
    }
  }
}
.option {
  p {
    color: #28282c;
  }
}
.notification {
  display: none;
  position: fixed;
  bottom: 15px;
  width: 100%;
  max-width: 460px;
  background: #ffffff;
  -webkit-box-shadow: 0px 4px 16px -5px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 16px -5px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  right: 0;
  -webkit-animation: fade;
  animation: fade;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
.notification_progress {
  background: #3f50c0;
}
.notification_content {
  padding: 14px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  h2 {
    font-size: 14px;
    font-weight: 400;
  }
}
.notification_img {
  position: relative;
  margin-right: 38px;
  svg {
    height: 120px;
    width: 120px;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) rotate(-90deg);
    transform: translate(-50%, -50%) rotate(-90deg);
    circle {
      fill: transparent;
      stroke: #3f50c0;
      stroke-width: 2;
      stroke-linecap: round;
      stroke-dasharray: 500;
      stroke-dashoffset: 500;
      -webkit-animation: animate 25s linear infinite;
      animation: animate 25s linear infinite;
    }
  }
  .progress {
    position: absolute;
    bottom: 60px;
    width: 100%;
    text-align: center;
    font-size: 25px;
    font-weight: 800;
    color: #007eff;
  }
  .counter {
    margin-top: 2px;
  }
}
.login_form,
.form_password {
  input {
    &:focus {
      + {
        label {
          font-size: 12px;
          color: #ababb8;
          top: 7px;
          left: 13px;
          background: none;
          padding: 0px 5px 0px 5px;
        }
      }
    }
    &:valid {
      + {
        label {
          font-size: 12px;
          color: #ababb8;
          top: 7px;
          left: 13px;
          background: none;
          padding: 0px 5px 0px 5px;
        }
      }
    }
  }
}

input[type='text'] {
  &:focus {
    outline: none;
  }
}
#flag {
  border: 1px solid #fff;
  border-radius: 100%;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.register {
  height: 100vh;
}
.register_main {
  height: 100vh;
  overflow: auto;
}
@media screen and (max-width: 1300px) {
  .not_adaptivetab {
    display: none;
  }

  .adaptive_pad {
    display: block;
  }

  .adaptive_pad_none {
    display: none;
  }

  .login_page_right_title {
    margin-top: 40px;
  }
  .login_page_left {
    height: 30vh;
    background-size: cover;
  }
  .login_page_left_content {
    padding: 31px 66px;
  }
  .login_page_inner {
    flex-direction: column;
  }
  .login_page_left,
  .login_page_right {
    width: 100%;
  }
  .login_footer_inner {
    width: 100%;
    padding: 30px 100px;
  }
}

@media screen and (max-width: 480px) {
  .login_page_main {
    overflow: auto;
    height: 100vh;
  }
  .register {
    overflow: auto;
    height: 100vh;
  }

  .adaptive {
    display: block;
  }

  .notification_icon::after {
    display: none;
  }

  .login_page_inner {
    flex-direction: column;
    height: auto;
  }
  .login_page_left {
    width: 100%;
    height: auto;
    background-size: cover;
  }
  .login_page_right {
    width: 100%;
  }
  .form_password {
    margin-bottom: 20px;
  }

  .login_page_left_content {
    padding: 49px 78px;
    h1 {
      font-size: 64px;
    }
    h2 {
      font-size: 26px;
    }
  }
  .login_footer_inner {
    padding: 40px 16px;
    width: 100%;
  }
  .login_footer_inner_item {
    margin-right: 0px;
    p {
      text-align: center;
      white-space: nowrap;
    }
  }
}
