.nav_inner {
  width: 100%;
  display: grid;
  grid-template-columns: 25% 45% 30%;
  padding: 26px 0px;
}
.nav_logo {
  padding-left: 76px;
}
.nav_search {
  position: relative;
  img {
    position: absolute;
    width: 18.5px;
    height: 18.5px;
    left: 20px;
    top: 12px;
  }

  input {
    border: 1px solid #efeff4;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 4px;
    width: 100%;
    padding: 10px 0px;
    text-indent: 56px;
    outline-color: #dddee8;
    font-family: 'Cera Pro', sans-serif;
    &::-webkit-input-placeholder {
      font-weight: 400;
      font-size: 16px;
      font-family: 'Cera Pro', sans-serif;
      color: #ababb8;
    }
    &::-moz-placeholder {
      font-weight: 400;
      font-size: 16px;
      font-family: 'Cera Pro', sans-serif;
      color: #ababb8;
    }
    &:-ms-input-placeholder {
      font-weight: 400;
      font-size: 16px;
      font-family: 'Cera Pro', sans-serif;
      color: #ababb8;
    }
    &::-ms-input-placeholder {
      font-weight: 400;
      font-size: 16px;
      font-family: 'Cera Pro', sans-serif;
      color: #ababb8;
    }
    &::placeholder {
      font-weight: 400;
      font-size: 16px;
      font-family: 'Cera Pro', sans-serif;
      color: #ababb8;
    }
    &:focus {
      &::-webkit-input-placeholder {
        color: transparent;
      }
      &::-moz-placeholder {
        color: transparent;
      }
      &:-ms-input-placeholder {
        color: transparent;
      }
      &::-ms-input-placeholder {
        color: transparent;
      }
      &::placeholder {
        color: transparent;
      }
    }
  }
}
nav {
  position: sticky;
  background-color: #fff;
  top: 0;
  width: 100%;
  z-index: 60;
  border-bottom: 1px solid #efeff4;
  .not_adaptive_logo {
    font-weight: 700;
    font-size: 30px;
    margin: 0;
  }
}

.nav_img {
  margin-right: 30px;
}

@media screen and (max-width:480px)  {
  .adaptive_logo {
    font-size: 24px;
    display: flex;
    align-items: center;
    white-space: nowrap;
    img {
      margin-right: 30px;
      &:hover {
        path {
          fill: #3f50c0;
        }
      }
    }
  }
  .not_adaptive_logo {
    display: none;
  }
  .nav_inner {
    padding: 0px;
    
    .nav_logo {
      padding-left: 16px;
    }

    img {
      right: 30px;
      left: auto;
      top: 12px;
    }
    input{
      text-indent: 18px;
    }
  }
}
@media screen and (max-width: 1300px) {
  .nav_inner {
    grid-template-columns: 0% 100% 0%;
  }
}

